#OurTrip {
    
    width: 100%;
 }
 
#imageTrip {
    width: 40%;
 }
 
#textTrip {
    width: 40%;
    text-justify: inter-word;
    margin: 0 10px;
 
 }
 
 @media screen and (max-width: 768px) {
 
  #imageTrip,
   #textTrip {
      display: flex;
      flex-direction: column;
      align-items: center;
       width: 80%;
       margin-bottom: 5%;
       margin: 0 10px;
    }
 }